RedirectMatch 403 /\.git
RedirectMatch 403 /\.gitignore

<IfModule mod_rewrite.c>

############################################
## enable rewrites

    Options +FollowSymLinks
	Options +Indexes
    RewriteEngine on
    RewriteRule ^/?([a-zA-Z-0-9]+)$ index.php?code=$1

    AuthType Basic
    AuthName "Page Protégée"
    AuthUserFile /var/www/cam/.htpasswd
    #Require user root

	ReWriteCond %{HTTP:accept-encoding} gzip
	RewriteCond %{HTTP_USER_AGENT} !Safari
	ReWriteCond %{REQUEST_FILENAME} !^.+\.gz$
	RewriteCond %{REQUEST_FILENAME}.gz -f
	RewriteRule ^(.+) $1.gz [QSA,L]

############################################
## TRACE and TRACK HTTP methods disabled to prevent XSS attacks

    RewriteCond %{REQUEST_METHOD} ^TRAC[EK]
    RewriteRule .* - [L,R=405]

############################################
## never rewrite for existing files, directories and links

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

############################################
## anti httrack

	RewriteCond  %{HTTP_USER_AGENT}  wget [NC,OR]
	RewriteCond  %{HTTP_USER_AGENT}  Gigabot [NC,OR]
	RewriteCond  %{HTTP_USER_AGENT}  Xenu\ Link\ Sleuth [NC,OR]
	RewriteCond  %{HTTP_USER_AGENT}  larbin [NC,OR]
	RewriteCond  %{HTTP_USER_AGENT}  HTTrack [NC,OR]
	RewriteCond  %{HTTP_USER_AGENT}  PhpDig [NC,OR]
	RewriteCond  %{HTTP_USER_AGENT}  WebCopier [NC,OR]
	RewriteCond  %{HTTP_USER_AGENT}  LWP::Simple [NC,OR]
	RewriteCond  %{HTTP_USER_AGENT}  libwww [NC,OR]
	RewriteCond  %{HTTP_USER_AGENT}  lwp-trivial	[NC,OR]
	RewriteCond %{X-moz} prefetch
	RewriteRule  .*   -   [F]
	RewriteCond %{REQUEST_FILENAME}.php -f
	RewriteRule ^(.*)$ /$1.php [L]
	RewriteRule ^article/([0-9]*)\.html$  index.php?pg=article&ref=$1  [L]
	RewriteRule ^([a-z]*)/([-a-z]*)\.html$  index.php?pg=$1-$2  [L]
	RewriteRule ^([-a-z0-9]*)\.html$  index.php?pg=$1  [L]

############################################
## Charset UTF-8

	AddDefaultCharset UTF-8

</IfModule>